*{
  padding: 0;
  margin: 0;
}

.wrapper {
  background: rgb(0, 95, 255);
  height: 100vh;
}

.header {
  background: red;
  height: 10%;
}

.container {
  background: green;
  height: 80%;
  display: flex;
}

nav{
  text-decoration: none;
  color: #4400DB
}

nav.menu:hover{
  text-decoration: underline;
}

nav.menu{
  flex: 1;
  background: yellow;
}


article.frame{
  flex: 4;
  border: solid;
  border-color: navy;
  padding: 10px;
  margin: 5px;
  border-width: 1px;
}

.text{
  color: #DE47C1;
}

.footer {
  background: blue;
  height: 10%;
}
